<header [class.hidden]="isHidden">
    <div class="top-bar">
      <p>SITE FICTÍCIO, NÃO FAÇAM COMPRAS!! </p>
    </div>
    <div class="nav-bar">
      <img src="../../../../assets/logos/logo.png" alt="Logo" class="logo">
  
      <nav class="menu">
        <ul>
          <li><a href="#">CALÇADOS</a></li>
          <li><a href="#">MULHER</a></li>
          <li><a href="#">HOMEM</a></li>
          <li><a href="#">INFANTIL</a></li>
          <li><a href="#">ESPORTES</a></li>
          <li><a href="#">SKATE</a></li>
          <li><a href="#">OUTLET</a></li>
        </ul>
      </nav>
  
      <div class="search">
        <input type="text" placeholder="Procurar">
        <button><i class="fa fa-search"></i></button>
      </div>
  
      <div class="icons">
        <a href="#"><i class="fa fa-user"></i> <span class="notification">1</span></a>
        <a href="#"><i class="fa fa-heart"></i></a>
        <a href="#"><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
  </header>
  