<header class="header" [class.hidden]="isHidden">
  <div class="top-bar">SITE FICTÍCIO, NÃO FAÇAM COMPRAS!!</div>
  <div class="nav-bar">
    <div class="left">
      <img src="../../../../assets/logos/logo.png" alt="Logo" class="logo" />
      <nav class="menu">
        <a href="#">Calçados</a>
        <a href="#">Mulher</a>
        <a href="#">Homem</a>
        <a href="#">Infantil</a>
        <a href="#">Esportes</a>
        <a href="#">Skate</a>
        <a href="#">Outlet</a>
      </nav>
    </div>

    <div class="search">
      <input type="text" placeholder="O que você procura?" />
      <button><i class="fa fa-search"></i></button>
    </div>

    <div class="icons">
      <a href="#"><i class="fa fa-user"></i><span class="notification">1</span></a>
      <a href="#"><i class="fa fa-heart"></i></a>
      <a href="#"><i class="fa fa-shopping-bag"></i></a>
    </div>
  </div>
</header>
