<div class="container">
    <div class="form-section">
        <div class="form-box">
            <h2>Cadastro</h2>
            <p>Preencha os dados abaixo para se registrar</p>
            <form #registerForm="ngForm">
                <div class="double-row">
                    <div class="name-box">
                        <label for="name">Nome</label>
                        <input type="text" id="name" name="name" placeholder="Digite seu nome" [(ngModel)]="name"
                            required>
                    </div>
                </div>
                <label for="phone">Telefone</label>
                <input type="tel" id="phone" name="tel" placeholder="Digite seu telefone" [(ngModel)]="tel" required>

                <label for="gender">Gênero</label>
                <select id="gender" name="gender" [(ngModel)]="gender" required>
                    <option value="" disabled selected>Escolha seu gênero</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha"
                    [(ngModel)]="password" required>

                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                    placeholder="Confirme sua senha" required>

                <button type="submit" (click)="register()">Registrar</button>
            </form>
        </div>
    </div>
</div>