.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-section {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0 20px;
    text-align: center;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background: #E06538;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    background: #a34928;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color: black;
    text-decoration: none;
  }